services:
  jarvis:
    image: naxel302/jarvis:latest
    container_name: jarvis
    ports:
      - "9080:10010"
      - "9081:10011"
      - "5005:5005"
    environment:
      - JAVA_TOOL_OPTIONS=-Xms128m -Xmx512m 
        -XX:StartFlightRecording=dumponexit=true,maxsize=20m,maxage=30d,filename=/application/diagnostic/jarvis.jfr
        -XX:StartFlightRecording=duration=60s,filename=/application/diagnostic/jarvis-startup.jfr
        -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/application/diagnostic
      - SECRETS_PROPERTIES_PATH=/application/secrets.properties
      - BOOKSTORE_LOADER_DIR=/data/bookstore
      - KAFKA_BOOTSTRAP_SERVERS=broker:29092
      - JARVIS_DB_URL=jdbc:postgresql://host.docker.internal:5432/jarvisdb?currentSchema=jarvis&reWriteBatchedInserts=true&logServerErrorDetail=false
    volumes:
      - type: bind
        source: "C:/Users/Alex/YandexDisk/jarvis/bookstore"
        target: "/data/bookstore"
        read_only: true
      - type: bind
        source: "./secrets.properties"
        target: "/application/secrets.properties"
        read_only: true
      - type: bind
        source: "C:/dev/tmp/jarvis"
        target: "/application/diagnostic"
        read_only: false
    networks:
      - jarvis-network
    restart: unless-stopped

  broker:
    image: confluentinc/cp-kafka:7.7.0
    hostname: broker
    container_name: broker
    expose:
      - '29092'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_LOG_CLEANUP_POLICY: 'delete'
    networks:
      - jarvis-network
    restart: unless-stopped
  #  init-kafka:
  #    image: confluentinc/cp-kafka:7.7.0
  #    depends_on:
  #      - broker
  #    entrypoint: [ '/bin/sh', '-c' ]
  #    command: |
  #      " # blocks until kafka is reachable
  #      kafka-topics --bootstrap-server broker:29092 --list
  #      echo -e 'Creating kafka topics'
  #      kafka-topics --bootstrap-server broker:29092 --create --if-not-exists --topic user-data --partitions 2 "
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "13030:8080"
    depends_on:
      - broker
    #      - init-kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: broker
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:29092
    networks:
      - jarvis-network
    restart: unless-stopped
  grafana:
    build: './config/grafana'
    ports:
      - 3000:3000
    volumes:
      - grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - jarvis-network
    restart: unless-stopped
  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - jarvis-network
    restart: unless-stopped
networks:
  jarvis-network:
volumes:
  prometheus:
  grafana: