services:
  jarvis:
    image: naxel302/jarvis:latest
    container_name: jarvis
    ports:
      - "9080:10010"
      - "9081:10011"
      - "5005:5005"
    environment:
      - JAVA_TOOL_OPTIONS=-Xms128m -Xmx512m 
        -XX:StartFlightRecording=dumponexit=true,maxsize=20m,maxage=30d,filename=/application/diagnostic/jarvis.jfr
        -XX:StartFlightRecording=duration=60s,filename=/application/diagnostic/jarvis-startup.jfr
        -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/application/diagnostic
      - BOOKSTORE_LOADER_DIR=/data/bookstore
      - KAFKA_BOOTSTRAP_SERVERS=localhost:9092
      - SECRETS_PROPERTIES_PATH=/application/secrets.properties
    volumes:
      - type: bind
        source: "C:/Users/Alex/YandexDisk/jarvis/bookstore"
        target: "/data/bookstore"
        read_only: true
      - type: bind
        source: "./secrets.properties"
        target: "/application/secrets.properties"
        read_only: true
      - type: bind
        source: "C:/dev/tmp/jarvis"
        target: "/application/diagnostic"
        read_only: false
    networks:
      - jarvis-network
    restart: unless-stopped
  grafana:
    build: './config/grafana'
    ports:
      - 3000:3000
    volumes:
      - grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - jarvis-network
    restart: unless-stopped
  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - jarvis-network
    restart: unless-stopped
networks:
  jarvis-network:
volumes:
  prometheus:
  grafana: