#intentionally not added to repository
BOOKSTORE_LOADER_DIR=C:/Users/Alex/YandexDisk/jarvis/bookstore
GH_TOKEN=
GOOGLE_API_KEY=
JARVIS_DB_PASSWORD=
JARVIS_DB_URL=jdbc:postgresql://host.docker.internal:5432/playground?currentSchema=jarvis&reWriteBatchedInserts=true&logServerErrorDetail=false
JARVIS_DB_USER=postgres