spring:
  config:
    import: optional:${SECRETS_PROPERTIES_PATH}
  application:
    name: jarvis

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      max-poll-records: 500
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      auto-offset-reset: latest
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
#        spring.json.value.default.type: hipravin.sampleskafka.dto.ClockTickEvent
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
    listener:
      ack-mode: batch #record ack is about 1000 times slower than batch

  flyway:
    default-schema: jarvis
    enabled: false

  datasource:
    url: ${JARVIS_DB_URL}
    username: ${JARVIS_DB_USER}
    password: ${JARVIS_DB_PASSWORD}

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
      enabled: true

  jpa:
    properties:
      hibernate:
        query:
          fail_on_pagination_over_collection_fetch: true
        default_schema: "jarvis"
        order_inserts: true
        order_updates: true

        #        generate_statistics: true
        jdbc:
          batch_size: 100
          time_zone: UTC
        hbm2ddl:
          auto: none
server:
  port: 10010

management:
  server:
    port: 10011
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  prometheus:
    metrics:
      export:
        enabled: true
  endpoint:
    health:
      show-details: never
      probes:
        enabled: true
  info:
    git:
      enabled: true
      mode: full
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    process:
      enabled: true

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

statistic:
  search:
    enabled: true

bookstore:
  loader-root-path: ${BOOKSTORE_LOADER_DIR}
  initialload:
    enabled: true

googlebooks:
  books-search-url: "https://www.googleapis.com/books/v1/volumes"
  api-key: ${GOOGLE_API_KEY}
  connection:
    timeout: 10_000

github:
  code-search-url: "https://api.github.com/search/code"
  code-search-browser-url-template: "https://github.com/search?q=%s&type=code"
  token: ${GH_TOKEN}
  single-request-max-or: 5
  code-search-per-page: 100
  connection:
    timeout: 10_000

  approved-authors: #TODO: implement search result statistics
    - hipravin
    - kehrlann
    - mraible
    - philwebb
    - vladmihalcea
    - josepaumard
    - bclozel
    - timosalm
    - briangoetz
    - spring-petclinic
    - spring-tips
    - baeldung
    - eugenp
    - epam
    - eclipse-hawkbit
    - sonarsource
    - snicoll
    - spring-projects
    - dataverse
    - danvega
    - apereo

logging:
  level:
    hipravin: DEBUG
    com.hipravin: DEBUG
    org.springframework: INFO


---
spring:
  config:
    activate:
      on-profile: swagger

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true